<div class="row">
    <div class="col-md">
        <button routerLink="/create-internship" type="button" class="btn btn-info">Adicionar Estagio</button>
    </div>
</div>

<div class="card-deck">
    <div class="card col-lg-12 px-0 mb-4">
        <div class="card-body">
            <h5 class="card-title">Vagas de estágio cadastradas</h5>
            <div class="table-responsive">
                <table class="table center-aligned-table">
                    <thead>
                        <tr class="text-primary">
                            <th>Vaga</th>
                            <th>Data</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <td>Iphone 7</td>
                            <td>12 May 2017</td>
                            <td><label class="badge badge-success">Approved</label></td>
                            <td><a href="#" class="btn btn-outline-primary btn-sm">View Order</a></td>
                            <td><a href="#" class="btn btn-outline-warning btn-sm">Cancel</a></td>
                        </tr>
                        <tr class="">
                            <td>Galaxy S8</td>
                            <td>15 May 2017</td>
                            <td><label class="badge badge-warning">Pending</label></td>
                            <td><a href="#" class="btn btn-outline-primary btn-sm">View Order</a></td>
                            <td><a href="#" class="btn btn-outline-warning btn-sm">Cancel</a></td>
                        </tr>
                        <tr class="">
                            <td>Google Pixel</td>
                            <td>17 May 2017</td>
                            <td><label class="badge badge-danger">Rejected</label></td>
                            <td><a href="#" class="btn btn-outline-primary btn-sm">View Order</a></td>
                            <td><a href="#" class="btn btn-outline-warning btn-sm">Cancel</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>