<div class="card-deck">
    <div class="card col-lg-12 px-0 mb-4">
        <div class="card-body">
            <h5 class="card-title">Vagas de estágio cadastradas</h5>
            <button routerLink="/create-internship" type="button" class="btn btn-primary" style="position: absolute; right: 20px; top: 13px;">
                Adicionar Estagio
            </button>
            <div class="table-responsive">
                <table class="table center-aligned-table">
                    <thead>
                        <tr class="text-primary">
                            <th>Vaga</th>
                            <th>Data</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of array">
                            <td>{{item.payload.val().internshipVacancy}}</td>
                            <td>29 Maio 2017</td>
                            <td>
                                <label class="badge badge-success" *ngIf="item.payload.val().status == 1">Aprovada</label>
                                <label class="badge badge-warning" *ngIf="item.payload.val().status == 0">Pendente</label>
                                <label class="badge badge-danger" *ngIf="item.payload.val().status == 2">Rejeitada</label>
                            </td>
                            <td>
                                <a routerLink="/show-internship-company/{{item.key}}" *ngIf="item.payload.val().status == 1" class="btn btn-outline-primary btn-sm" style="width:81px">Ver vaga</a>
                                <a routerLink="/edit-internship-company/{{item.key}}" *ngIf="item.payload.val().status == 2" class="btn btn-outline-primary btn-sm" style="width:81px">Editar vaga</a>
                                <a routerLink="/edit-internship-company/{{item.key}}" *ngIf="item.payload.val().status == 0" class="btn btn-outline-primary btn-sm" style="width:81px">Editar vaga</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>