<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
        <div class="mt-5 mb-5 text-center">
            <img class="img-fluid" src="./../assets/images/logoFatec.png" alt="logo fatec">
        </div>
        <form name="login" #f="ngForm" (ngSubmit)="login()"  class="form-signin">
            <div class="form-group">
                <input type="email" [(ngModel)]="user.email" #email="ngModel" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail" required email>
                <small *ngIf="email.invalid && (email.dirty || email.touched)"  class="text-danger">
                    <small class="text-danger" *ngIf="email.errors.required">
                        Campo obrigatório!
                    </small>    
                    <small class="text-danger" *ngIf="email.errors.email">
                        E-mail invalido!
                    </small>    
                </small>
            </div>
            <div class="form-group">
                <input type="password" [(ngModel)]="user.password" #password="ngModel" name="password" class="form-control" minlength="6" id="exampleInputPassword1" placeholder="Senha" required>
                <small *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                        <small class="text-danger" *ngIf="password.errors.required">
                                Campo obrigatório!
                         </small>
                        <small class="text-danger" *ngIf="password.errors.minlength">
                                Sua senha tem no mínimo 6 caracteres!
                        </small>
                </small>
            </div>
            <button [disabled]="!f.valid" class="btn btn-block btn-primary">Entrar</button>
            <div class="text-center p-3">Não tem uma conta ainda? Cadastre-se <a class="font-weight-bold" routerLink="/create-user">aqui!</a></div>
        </form>
    </div>
    <div class="col-sm"></div>
</div>
