<form #f="ngForm">
    <div class="form-group mt-5">
        <label for="internshipVacancy">Vaga</label>
        <input type="text" [(ngModel)]="intership?.payload.val().internshipVacancy" name="internshipVacancy" class="form-control"> 
        
            <!-- <div class="alert alert-danger" role="alert" *ngIf="!addIntershipForm.get('internshipVacancy').valid && addIntershipForm.get('internshipVacancy').touched">
                    Campo Obrigatório
            </div> -->
    </div>

    <div class="form-group">
            <label for="internshipVacancy">Periodo</label>
        <div class="form-inline">
            <label class="form-check-label mr-2">
                <input [(ngModel)]="intership?.payload.val().periodMorning" value="Manhã" type="checkbox" name="periodMorning" class="form-check-input" disabled>
                Manhã
            </label> 
            <label class="form-check-label mr-2">
                <input [(ngModel)]="intership?.payload.val().periodAfternoon" value="Tarde" type="checkbox" name="periodAfternoon" class="form-check-input" disabled>
                Tarde
            </label> 
            <label class="form-check-label mr-2">
                <input [(ngModel)]="intership?.payload.val().periodNight" value="Noite" type="checkbox" name="periodNight"  class="form-check-input" disabled>
                Noite
            </label> 
        </div>
    </div>

    <div class="form-group mt-5">
        <label for="internshipVacancy">Remuneração</label>
        <div *ngIf="intership?.payload.val().remuneration === 'true'">
                <input class="form-control" type="text" [(ngModel)]="intership?.payload.val().valueOfRemuneration" name="valueOfRemuneration" class="form-control"> 
    
        </div> 
        <div class="form-control" *ngIf="intership?.payload.val().remuneration === 'false'">
            Não havera remuneração
        </div> 
    </div>

    <div class="form-group">
            <label for="benefit">Benefícios</label>
            <div class="form-inline">
                <label class="form-check-label mr-2">
                    <input type="checkbox" name="benefitTransport" [(ngModel)]="intership?.payload.val().benefitTransport"  value="true" id="" class="form-check-input" disabled>
                    Vale-transporte
                </label>
                <label class="form-check-label mr-2">
                    <input type="checkbox" name="benefitMeal" [(ngModel)]="intership?.payload.val().benefitMeal" value="true" id="" class="form-check-input" disabled>        
                    Refeição
                </label>
                <div class="form-group" *ngIf="intership?.payload.val().othersBenefit !== undefined">
                        <label class="form-check-label mr-2">
                                Outros:     
                        </label>
                        <input type="text" name="othersBenefit" [(ngModel)]="intership?.payload.val().othersBenefit" value="true" id="othersBenefit" class="form-check-input">  
                </div>
                
            </div>
        </div>

        <div class="form-group">
                <label for="technicalKnowledge">Conhecimentos técnicos requeridos</label>
                <input type="text" [(ngModel)]="intership?.payload.val().technicalKnowledge" name="technicalKnowledge" placeholder="Detalhar" class="form-control">
        </div>

        <div class="form-group">
                <label for="personalProfile">Qual é o perfil pessoal requerido</label>
                <input type="text" name="personalProfile" [(ngModel)]="intership?.payload.val().personalProfile" placeholder="Ex: comunicação, lidar com pessoas"  class="form-control">
        </div>

        <div class="form-group">
                <label for="">Preferência</label>
                <input type="text" name="preference" [(ngModel)]="intership?.payload.val().preference" placeholder="Ex: idade, sexo" class="form-control"> 
        </div>

        <div class="form-group">
                <label for="">Agendamento por telefone</label>
                <label class="form-check-label mr-2">
                    <input type="radio" (click)="updateScheduleTrue()" [(ngModel)]="intership?.payload.val().schedule" value="true" id="" name="schedule"class="form-check-input" disabled>
                    Sim
                </label>      
                <label class="form-check-label mr-2">
                    <input type="radio" (click)="updateScheduleFalse()" [(ngModel)]="intership?.payload.val().schedule" value="false" id="" name="schedule" class="form-check-input"disabled>
                    Não
                </label>
        </div>
        <div class="form-group" *ngIf="intership?.payload.val().schedule === true|| sim == true">
            <label for="" >Farlar com:</label>
            <input type="text" [(ngModel)]="intership?.payload.val().whoTalkSchedule" name="tel" class="form-control">
            <label for="">Telefone:</label>
            <input type="tel"  [(ngModel)]="intership?.payload.val().phone"class="form-control">
            <label for="">E-mail:</label>
            <input type="email" [(ngModel)]="intership?.payload.val().email" name="email" class="form-control">
            <label for="">Aos cuidado de:</label>
            <input type="text" [(ngModel)]="intership?.payload.val().whoCaringForEmail" name="whoCaringForEmail" class="form-control">
        </div>

        <div class="form-group">
                <label for="">Observações</label>
                <textarea name="observations" [(ngModel)]="intership?.payload.val().observations" class="form-control"></textarea>
        </div>
        <!-- <div class="form-group">
                <label for="">Curso:</label>
                <select [(ngModel)]="semester">
                    <option *ngFor="let i of optionSemester" [value]="i.value">{{i.name}}</option>
                </select>
        </div> -->
        Semestre selecionado{{semester}}
        <button (click)="save(f)" type="submit" class="btn btn-primary">Salvar</button>
        <button type="submit" class="btn btn-primary">Liberar</button>
        <button  type="submit" class="btn btn-danger">Excluir</button>

</form>

